{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% block title %} Sign In {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="row justify-content-center form-bg-image" data-background-lg="{% static 'assets/img/illustrations/signin.svg' %}">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                      <h5>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                        You should receive them shortly.
                      </h5>
                      <h5>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                      </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
