{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

</style>
{% endblock stylesheets %}

{% block content %}
<div id="searchdiv" class="row">
    <div class="col-12 col-xl-6">
        <div class="card card-body shadow-sm mb-3">
            <h2 class="h3 mb-4">Search Bales</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="mb-3">
                        <div>
                            <label for="Bale_ID">Bale ID</label>
                            <input class="form-control" name="Bale_ID" id="Bale_ID" type="text" placeholder="" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="Lot_ID">Lot ID</label>
                            <input class="form-control" name="Lot_ID" id="Lot_ID" type="text" placeholder="" >
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="mb-3">
                        <div>
                            <label for="Station">Station</label>
                            <input class="form-control" name="Station" id="Station" type="text" placeholder="" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="variety">Variety</label>
                            <input class="form-control" name="variety" id="variety" type="text" placeholder="" >
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="Staple_length">Staple Range</label>
                            <input class="form-control" name="Staple_length" id="Staple_length" type="text" placeholder="" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="Rd">Rd</label>
                            <input class="form-control" name="Rd" id="Rd" type="text" placeholder="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="Micronaire">Micronaire</label>
                            <input class="form-control" name="Micronaire" id="Micronaire" type="text" placeholder="" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="GTex">GTex</label>
                            <input class="form-control" name="GTex" id="GTex" type="text" placeholder="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="Spot_Price">Spot Price</label>
                            <input class="form-control" name="Spot_Price" id="Spot_Price" type="text" placeholder="" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="weightinkg">weightinkg</label>
                            <input class="form-control" name="weightinkg" id="weightinkg" type="text" placeholder="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="Available_For_Sale">Available_For_Sale</label>
                            <input class="form-control" name="Available_For_Sale" id="Available_For_Sale" type="text" placeholder="" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="Organic">Organic</label>
                            <input class="form-control" name="Organic" id="Organic" type="text" placeholder="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="BCI">BCI</label>
                            <input class="form-control" name="BCI" id="BCI" type="text" placeholder="" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="Trash">Trash</label>
                            <input class="form-control" name="Trash" id="Trash" type="text" placeholder="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="Pick">Pick</label>
                            <input class="form-control" name="Pick" id="Pick" type="text" placeholder="" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="Organic">Crop_Year</label>
                            <input class="form-control" name="Crop_Year" id="Crop_Year" type="text" placeholder="" >
                        </div>
                    </div>
                </div> -->
                <div class="mt-3">
                    <input id="searchbutton" type="submit" class="btn btn-dark" value="submit">
                    <input id="clearSearch" type="button" class="btn btn-danger" style="margin-left: 5px;" value="clear">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" id="newsearchbar">
    <div class="table-responsive py-4">
        <h2>List all bales</h2>
        <table class="table table-centered table-nowrap mb-0 rounded" id="searchtable">
            <thead class="thead-light">
                <tr>
                    <th class="border-0">Lot_ID</th>
                    <th class="border-0">Bale ID</th>
                    <th class="border-0">Station</th>
                    <th class="border-0">Variety</th>
                    <th class="border-0">Bales For Sale</th>
                    <th class="border-0">Staple Range</th>
                    <th class="border-0">Micronaire</th>
                    <th class="border-0">Rd</th>
                    <th class="border-0">Organic</th>
                    <th class="border-0">BCI</th>
                </tr>
            </thead>
            <tbody id="searchbody">
                {% for i in data %}
                <tr>
                    <td>{{i.Lot_ID}}</td>
                    <td>{{i.Bale_ID}}</td>
                    <td>{{i.Station}}</td>
                    <td>{{i.variety}}</td>
                    <td>{{i.Staple_length}}</td>
                    <td>{{i.Available_For_Sale}}</td>
                    <td>{{i.Micronaire}}</td>
                    <td>{{i.Rd}}</td>
                    <td>{{i.Organic}}</td>
                    <td>{{i.BCI}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>{{i.Lot_ID}}</td>
                    <td>{{i.Station}}</td>
                    <td>{{i.variety}}</td>
                    <td>{{i.Bale_ID}}</td>
                    <td>{{i.Staple_Range}}</td>
                    <td>{{i.Bales_For_Sale}}</td>
                    <td>{{i.Micronaire}}</td>
                    <td>{{i.Rd}}</td>
                    <td>{{i.Organic}}</td>
                    <td>{{i.BCI}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}