{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row" style="padding: 0px;margin-left: 1px;">
        <div class="col-xl-8 mt-4 ">
            <div class="card card-body shadow-sm">
                <h2 class="h5 mb-4">Seeks Bids To Supply</h2>
            <form method="POST" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="number_of_bales">Number of bales </label>
                                <input class="form-control" id="number_of_bales" type="text" placeholder=""
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="required_date_of_delivery">Date of Delivery</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <input data-datepicker="" class="form-control" id="required_date_of_delivery" type="text" placeholder="dd/mm/yyyy" required>                                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="station_from_which_supply"> Station From Which Supply</label>
                                <input class="form-control" id="station_from_which_supply" type="text" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="max_staple_length"> Max Staple Length</label>
                                <input class="form-control" id="max_staple_length" type="number" placeholder="" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="station_from_which_supply"> Station From Which Supply</label>
                                <input class="form-control" id="station_from_which_supply" type="text" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="trash"> Trash</label>
                                <input class="form-control" id="trash" type="number" placeholder="" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="bundle_strength "> Bundle Strength </label>
                                <input class="form-control" id="bundle_strength" type="number" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="rd"> Rd</label>
                                <input class="form-control" id="rd" type="number" placeholder="" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="bdata"> +b</label>
                                    <input class="form-control" id="bdata" type="text" placeholder="" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="pincode"> PIN Code Where Delivery Required</label>
                                        <input class="form-control" id="pincode" type="number" placeholder="" required>
                                    </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="datemax">Auction End Date & Time</label>
                            <div class="input-group">
                                <!-- <span class="input-group-text"></span> -->
                                <input class="form-control" type="datetime-local" id="datemax" name="datemax">
                                <!-- <input data-datepicker="" class="form-control" id="datemax" type="datetime-local" placeholder="dd/mm/yyyy" required>                                                -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="organic"> Organic</label>
                                <input class="form-check-input" id="organic" type="checkbox" placeholder="" required>
                            </div>
                            <div class="col-md-6 mb-3">
                            
                                <div class="form-group">
                                    <label for="BCI"> BCI</label>
                                    <input class="form-check-input" id="BCI" type="checkbox" placeholder="" required>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock content %}

    {% block javascripts %}{% endblock javascripts %}