{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


{% if request.user.is_superuser %}
    <div class="row" style="padding: 0px;margin-left: 1px;">
        <div class="col-xl-8 mt-4 ">
            <div class="card card-body shadow-sm">
                <h2 class="h5 mb-4">Add New Users</h2>
            <form method="POST" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="email">Email <span class="mr-1"><small style="color:brown">(to be used for
                                            login)</small></span></label>
                                <input class="form-control" id="email" type="email" placeholder="name@company.com"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Name</label>
                                <input class="form-control" id="last_name" type="text" placeholder="Your name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">

                                <label class="my-1 me-2" for="type">Type</label>
                                <select class="form-select" id="type" aria-label="-" required>
                                    <option value="Trader">Trader</option>
                                    <option value="Ginner">Ginner</option>
                                    <option value="Miller">Miller</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label class="my-1 me-2" for="Access">Access Level</label>
                                <select class="form-select" id="Access" aria-label="-" required>
                                    <option value="Admin">Admin</option>
                                    <option value="User">User</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
    {% endblock content %}

    {% block javascripts %}{% endblock javascripts %}