{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

</style>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid mt-5">
    <h2><b>View All Bales Data </b></h2>
    
</div>

{% if request.user.is_superuser %}
<div class="container mt-5" style="width:600px">
    <p id="tb-filter" style="display:none">
        <label for="state" style="margin-left: 63%;"> Users :</label> 
        <select id="state" class="form-select" name="states[]" aria-label="select example" style="width:300px;margin-left: 80%;margin-top: -40px;">
            <option value="">All</option>
            {% for i in users %}
            <option value={{i.username}}>{{i.username}}</option>
            {% endfor %}
        </select>
    </p>
</div>
<div class="container-fluid mt-5" style="width:100%">
    <div class="table-responsive py-4">
        <h3>Groups by Lot_ID</h3>
        <table class="table table-flush" id="secondtable">
            <thead class="thead-light">
                <tr>
                    <th>Bale ID</th>
                    <th>Lot ID</th>
                    <th>Station</th>
                    <th>Crop Year </th>
                    <th>Pick</th>
                    <th>Staple Type</th>
                    <th>Staple length</th>
                    <th>Trash</th>
                    <th>Bundle Strength</th>
                    <th>Micronaire</th>
                    <th>Moisture</th>
                    <th>Asking Price</th>
                    <th>User</th>

                </tr>
            </thead>
            <tbody>
                {% for i in bales %}
                <tr>
                    <td>{{i.Bale_ID}}</td>
                    <td>{{i.Lot_ID}}</td>
                    <td>{{i.Station}}</td>
                    <td>{{i.Crop_Year}}</td>
                    <td>{{i.Pick}}</td>
                    <td>{{i.Staple_Type}}</td>
                    <td>{{i.Staple_length}}</td>
                    <td>{{i.Trash}}</td>
                    <td>{{i.Bundle_Strength}}</td>
                    <td>{{i.Micronaire}}</td>
                    <td>{{i.Moisture}}</td>
                    <td>{{i.Asking_Price}}</td>
                    <td>{{i.user}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Sorry, no data in this list.</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
{% else %}
<div class="container-fluid mt-5">
    
    <p id="table-filter" style="display:none">
        <label for="selectLot" style="margin-left: 63%;"> Lots ID:</label> 
        <select id="selectLot" class="form-select" name="selectLot[]" aria-label="select example" style="width:300px;margin-left: 80%;margin-top: -40px;">
            <option value="">All</option>
            {% for i in rbales %}
            <option value={{i.Lot_ID}}>{{i.Lot_ID}}</option>
            {% endfor %}
        </select>
    </p>
    
    <div class="table-responsive py-4">
        <h2>Groups by Lot_ID upload by <b style="color:darksalmon">"{{request.user.username}}"</b> </h2>
        <table class="table table-flush" id="newtable" class="display">
            <thead class="thead-light">
                <tr>
                    <th>Bale ID</th>
                    <th>Lot ID</th>
                    <th>Station</th>
                    <th>Crop Year </th>
                    <th>Pick</th>
                    <th>Staple Type</th>
                    <th>Staple length</th>
                    <th>Trash</th>
                    <th>Bundle Strength</th>
                    <th>Micronaire</th>
                    <th>Moisture</th>
                    <th>Asking Price</th>

                </tr>
            </thead>
            <tbody>
                {% for i in rbales %}
                <tr>
                    <td>{{i.Bale_ID}}</td>
                    <td>{{i.Lot_ID}}</td>
                    <td>{{i.Station}}</td>
                    <td>{{i.Crop_Year}}</td>
                    <td>{{i.Pick}}</td>
                    <td>{{i.Staple_Type}}</td>
                    <td>{{i.Staple_length}}</td>
                    <td>{{i.Trash}}</td>
                    <td>{{i.Bundle_Strength}}</td>
                    <td>{{i.Micronaire}}</td>
                    <td>{{i.Moisture}}</td>
                    <td>{{i.Asking_Price}}</td>

                </tr>
                {% empty %}
                <tr>
                    <td>Sorry, no data in this list.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}

{% endblock content %}


{% block javascripts %}
{% endblock javascripts %}