{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

</style>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid mt-5">
    <h2><b>View All Bales Data </b></h2>
    <!-- <div class="table-responsive py-4">
        <h3>List all Test bales</h3>
        <table class="table table-flush" id="datatable">
            <thead class="thead-light">
                <tr>
                    <th>Bale ID</th>
                    <th>Staple length</th>
                    <th>Trash</th>
                    <th>Bundle Strength</th>
                    <th>Micronaire</th>
                    <th>Rd</th>
                    <th>+b</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{i.Bale_ID}}</td>
                    <td>{{i.Staple_length}}</td>
                    <td>{{i.Trash}}</td>
                    <td>{{i.Bundle_Strength}}</td>
                    <td>{{i.Micronaire}}</td>
                    <td>{{i.Rd}}</td>
                    <td>{{i.b}}</td>
                </tr>
                {% empty %}
                <li>Sorry, no athletes in this list.</li>
                {% endfor %}
            </tbody>
        </table>
    </div> -->
</div>

{% if request.user.is_superuser %}
<div class="container mt-5" style="width:600px">
    <p id="tb-filter" style="display:none">
        <label for="state" style="margin-left: 63%;"> Users :</label> 
        <select id="state" class="form-select" name="states[]" aria-label="select example" style="width:300px;margin-left: 80%;margin-top: -40px;">
            <option value="">All</option>
            {% for i in users %}
            <option value={{i.username}}>{{i.username}}</option>
            {% endfor %}
        </select>
    </p>
</div>
<div class="container-fluid mt-5" style="width:100%">
    <div class="table-responsive py-4">
        <h3>Groups by Lot_ID</h3>
        <table class="table table-flush" id="secondtable">
            <thead class="thead-light">
                <tr>
                    <th>Bale ID</th>
                    <th>Lot ID</th>
                    <th>Station</th>
                    <th>Crop Year </th>
                    <th>Pick</th>
                    <th>Staple Type</th>
                    <th>Staple length</th>
                    <th>Trash</th>
                    <th>Bundle Strength</th>
                    <th>Micronaire</th>
                    <th>Moisture</th>
                    <th>Asking Price</th>
                    <th>User</th>

                </tr>
            </thead>
            <tbody>
                {% for i in bales %}
                <tr>
                    <td>{{i.Bale_ID}}</td>
                    <td>{{i.Lot_ID}}</td>
                    <td>{{i.Station}}</td>
                    <td>{{i.Crop_Year}}</td>
                    <td>{{i.Pick}}</td>
                    <td>{{i.Staple_Type}}</td>
                    <td>{{i.Staple_length}}</td>
                    <td>{{i.Trash}}</td>
                    <td>{{i.Bundle_Strength}}</td>
                    <td>{{i.Micronaire}}</td>
                    <td>{{i.Moisture}}</td>
                    <td>{{i.Asking_Price}}</td>
                    <td>{{i.user}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Sorry, no data in this list.</td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- <tfoot>
                <tr> -->
                    <!-- <th>Bale ID</th>
                    <th>Lot ID</th>
                    <th>Station</th>
                    <th>Crop Year </th>
                    <th>Pick</th>
                    <th>Staple Type</th>
                    <th>Staple length</th>
                    <th>Trash</th>
                    <th>Bundle Strength</th>
                    <th>Micronaire</th>
                    <th>Moisture</th>
                    <th>Asking Price</th> -->
                    <!-- <th>User</th>

                </tr>
            </tfoot> -->
        </table>
    </div>
</div>
{% else %}
<div class="container-fluid mt-5">
    
    <p id="table-filter" style="display:none">
        <label for="selectLot" style="margin-left: 63%;"> Lots ID:</label> 
        <select id="selectLot" class="form-select" name="selectLot[]" aria-label="select example" style="width:300px;margin-left: 80%;margin-top: -40px;">
            <option value="">All</option>
            {% for i in rbales %}
            <option value={{i.Lot_ID}}>{{i.Lot_ID}}</option>
            {% endfor %}
        </select>
    </p>
    
    <div class="table-responsive py-4">
        <h2>Groups by Lot_ID upload by <b style="color:darksalmon">"{{request.user.username}}"</b> </h2>
        <table class="table table-flush" id="newtable" class="display">
            <thead class="thead-light">
                <tr>
                    <th>Bale ID</th>
                    <th>Lot ID</th>
                    <th>Station</th>
                    <th>Crop Year </th>
                    <th>Pick</th>
                    <th>Staple Type</th>
                    <th>Staple length</th>
                    <th>Trash</th>
                    <th>Bundle Strength</th>
                    <th>Micronaire</th>
                    <th>Moisture</th>
                    <th>Asking Price</th>

                </tr>
            </thead>
            <tbody>
                {% for i in rbales %}
                <tr>
                    <td>{{i.Bale_ID}}</td>
                    <td>{{i.Lot_ID}}</td>
                    <td>{{i.Station}}</td>
                    <td>{{i.Crop_Year}}</td>
                    <td>{{i.Pick}}</td>
                    <td>{{i.Staple_Type}}</td>
                    <td>{{i.Staple_length}}</td>
                    <td>{{i.Trash}}</td>
                    <td>{{i.Bundle_Strength}}</td>
                    <td>{{i.Micronaire}}</td>
                    <td>{{i.Moisture}}</td>
                    <td>{{i.Asking_Price}}</td>

                </tr>
                {% empty %}
                <tr>
                    <td>Sorry, no data in this list.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<script>
    // let BalesData;
    // $(document).ready(function () {
    //     $("select").change(function () {
    //         var selectedCountry = $(this).val();
    //         const arr = []
    //         arr.push(selectedCountry)
    //         $("button").click(function () {
    //             $.ajax({
    //                 url: "{% url 'viewmybales' %}",
    //                 type: 'POST',
    //                 data: JSON.stringify({ 'arr': arr[0] }),
    //                 dataType: 'json',
    //                 processData: false,
    //                 contentType: 'application/json',

    //             }).done(function (response) {
    //                 BalesData = JSON.parse(response)
    //                 // var res = JSON.stringify(response)
    //                 // res = JSON.parse(response)
    //                 // console.log("🚀 ~ file: viewmybales.html ~ line 157 ~ res", res[0]['fields'])
    //                 console.log(BalesData)
    //                 BalesData.forEach((item) => {

    //                     $("#BalesData").append(
    //                         `<tr>
    //                             <td>${item.fields.Bale_ID}</td>
    //                             <td>${item.fields.Lot_ID}</td>
    //                             <td>${item.fields.Station}</td>
    //                             <td>${item.fields.Crop_Year}</td>
    //                             <td>${item.fields.Pick}</td>
    //                             <td>${item.fields.Staple_Type}</td>
    //                             <td>${item.fields.Staple_length}</td>
    //                             <td>${item.fields.Trash}</td>
    //                             <td>${item.fields.Bundle_Strength}</td>
    //                             <td>${item.fields.Micronaire}</td>
    //                             <td>${item.fields.Moisture}</td>
    //                             <td>${item.fields.Asking_Price}</td>
    //                         </tr>
    //                         `)
    //                 })

    //             }).fail(function (error) {

    //                 console.log("🚀 ~ file: viewmybales.html ~ line 167 ~ $ ~ error", error)
    //             });
    //         });
    //     });
</script>

{% endblock javascripts %}