{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.content {
    overflow: visible;
    padding: 0 !important;
    transition: all 0.3s;
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid mt-5">
</div>
{% if request.user.is_superuser %}
<div class="container mt-5" style="width:400px">
        <h4><b>Bales In My Inventory</b></h4><br>

    <p id="tb-filter" style="display:none">
        <select id="state" class="form-select" name="states[]" aria-label="select example" style="width:300px;margin-left: 80%;margin-top: -10px;">
            <option value="">All Vendors</option>
            {% for i in users %}
            <option value={{i.username}}>{{i.username}}</option>
            {% endfor %}
        </select>
    </p>
</div>
<div class="container-fluid mt-5" style="width:90%">
    <div class="table-responsive py-4">
        <table class="table table-centered table-nowrap mb-0 rounded" id="secondtable">
            <thead class="thead-light">
                <tr>
                    <th class="border-0">Lot ID</th>
                    <th class="border-0">Station</th>
                    <th class="border-0">Variety</th>
                    <th class="border-0">No of Bales</th>
                    <th class="border-0">Organic</th>
                    <th class="border-0">BCI</th>
                    <th class="border-0">Available For Sale</th>
                </tr>
            </thead>
            <tbody id="mybalestbody">
                {% for i in bales %}
                <tr>
                    <td class="border-0">{{i.Lot_ID}}</td>
                    <td class="border-0">{{i.Station}}</td>
                    <td class="border-0">{{i.variety}}</td>
                    <td class="border-0">{{i.bales_count}}</td>
                    <td class="border-0">{{i.Organic}}</td>
                    <td class="border-0">{{i.BCI}}</td>
                    <td class="border-0"><input type="checkbox" id="{{i.Lot_ID}}" class="a" value={{i.Available_For_Sale}} ></td>
                </tr>
                {% empty %}
                <tr>
                    <td>Sorry, no data in this list.</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
<!-- <button id="newbtn">Submit</button> -->
{% else %}
<div class="container-fluid mt-5">
    
    <p id="table-filter" style="display:none">
        <label for="selectLot" style="margin-left: 63%;"> Lots ID:</label> 
        <select id="selectLot" class="form-select" name="selectLot[]" aria-label="select example" style="width:300px;margin-left: 80%;margin-top: -40px;">
            <option value="">All</option>
            {% for i in rbales %}
            <option value={{i.Lot_ID}}>{{i.Lot_ID}}</option>
            {% endfor %}
        </select>
    </p>
    
    <div class="table-responsive py-4">
        <h2>Groups by Lot_ID upload by <b style="color:darksalmon">"{{request.user.username}}"</b> </h2>
        <table class="table table-flush" id="newtable" class="display">
            <thead class="thead-light">
                <tr>
                    <th class="border-0">Lot ID</th>
                    <th class="border-0">Station</th>
                    <th class="border-0">Variety</th>
                    <th class="border-0">No of Bales</th>
                    <th class="border-0">Organic</th>
                    <th class="border-0">BCI</th>
                    <th class="border-0">Available For Sale</th>
                </tr>
            </thead>
            <tbody>
                {% for i in rbales %}
                <tr>
        <td class="border-0">{{i.Lot_ID}}</td>
                    <td class="border-0">{{i.Station}}</td>
                    <td class="border-0">{{i.variety}}</td>
                    <td class="border-0">{{i.bales_count}}</td>
                    <td class="border-0">{{i.Organic}}</td>
                    <td class="border-0">{{i.BCI}}</td>
                    <td class="border-0"><input type="checkbox" id="{{i.Lot_ID}}" class="a" value={{i.Available_For_Sale}} ></td>
                </tr>
                {% empty %}
                <tr>
                    <td>Sorry, no data in this list.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}

{% endblock content %}


{% block javascripts %}
{% endblock javascripts %}